<nav class="navbar navbar-dark bg-dark">
    <a href="http://localhost:3001/" class="navbar-brand">Главная</a>
    <a href="http://localhost:3001/katalog" class="navbar-brand">Каталог товаров</a>
    <a href="http://localhost:3001/dostavka" class="navbar-brand">Доставка</a>
    <a href="http://localhost:3001/kontact" class="navbar-brand">Контакты</a>
    <a href="http://localhost:3001/kabinet" class="navbar-brand">Корзина</a>
</nav>
<h1 style="margin-left: 450px;margin-top: 150px">{{msg}}</h1>
<a style="margin-left: 620px;margin-top: 120px" class="btn btn-primary" href="/orders">
    Назад
</a>