<nav class="navbar navbar-dark bg-dark">
    <a href="http://localhost:3001/" class="navbar-brand">Главная</a>
    <a href="http://localhost:3001/katalog" class="navbar-brand">Каталог товаров</a>
    <a href="http://localhost:3001/dostavka" class="navbar-brand">Доставка</a>
    <a href="http://localhost:3001/kontact" class="navbar-brand">Контакты</a>
    <a href="http://localhost:3001/kabinet" class="navbar-brand">Корзина</a>
    <a href="http://localhost:3001/test" class="navbar-brand">Статистика</a>
</nav>
{{#each obj}}
<h1 style="margin-left:500px;margin-top:50px">Описание товара</h1>
<h3 style="margin-left:50px">{{opis}}</h3>
{{/each}}


<footer style="margin-top: 100px" class="page-footer font-small mdb-color pt-4">

    <!-- Footer Links -->
    <div style="background-color:#343a40;width:1350px" >

        <!-- Footer links -->
        <div class="row text-center text-md-left mt-3 pb-3">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 style="color:white;font-family: 'Tahoma', sans-serif" class="text-uppercase mb-4 font-weight-bold">О КОМПАНИИ</h6>
                <p style="color:white;font-size: 12px;font-family: 'Tahoma', sans-serif">2012-2018 © geeks.com — интернет-магазин электроныых устройств. Все права защищены. Доставка по всей Беларуси!
                    Телефон: 80173886000 (круглосуточно).
                    Общество с ограниченной ответственностью «Гикс». Государственная регистрация от 20.04.2012 Администрацией Ленинского района г. Минска.
                    Дата регистрации в торговом реестре: 25.07.2012 Исполнительным комитетом г. Минска.
                    Юр. адрес: 220073, Республика Беларусь, г. Минск, пр-т. Дзержинского, д. 95, пом. 14, комн. 37.
                    Время работы: 9:00—17:30 пн—пт.

                </p>
            </div>
            <!-- Grid column -->

            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 style="color:white;font-family: 'Tahoma', sans-serif" class="text-uppercase mb-4 font-weight-bold">Products</h6>
                <p>
                    <a style="font-family: 'Tahoma', sans-serif;color:white" href="#!">MDBootstrap</a>
                </p>
                <p>
                    <a style="color:white;font-family: 'Tahoma', sans-serif" href="#!">MDWordPress</a>
                </p>
                <p>
                    <a style="color:white;font-family: 'Tahoma', sans-serif" href="#!">BrandFlow</a>
                </p>
                <p>
                    <a style="color:white;font-family: 'Tahoma', sans-serif" href="#!">Bootstrap Angular</a>
                </p>
            </div>
            <!-- Grid column -->

            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 style="font-family: 'Tahoma', sans-serif; color:white" class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
                <p>
                    <a style="color:white;font-family: 'Tahoma', sans-serif" href="#!">Your Account</a>
                </p>
                <p>
                    <a style="color:white;font-family: 'Tahoma', sans-serif" href="#!">Become an Affiliate</a>
                </p>
                <p>
                    <a style="color:white;font-family: 'Tahoma', sans-serif" href="#!">Shipping Rates</a>
                </p>
                <p>
                    <a style="color:white;font-family: 'Tahoma', sans-serif" href="#!">Help</a>
                </p>
            </div>

            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 style="font-family: 'Tahoma', sans-serif; color:white" class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                <p style="color:white;;font-family: 'Tahoma', sans-serif">
                    <i style="color:white;" class="fas fa-home mr-3"></i> г. Минск, пр-т. Дзержинского, 95</p>
                <p style="color:white;;font-family: 'Tahoma', sans-serif">
                    <i style="color:white" class="fas fa-envelope mr-3"></i> info@gmail.com</p>
                <p style="color:white;;font-family: 'Tahoma', sans-serif">
                    <i style="color:white" class="fas fa-phone mr-3"></i> +375 44 129 54 32</p>
                <p style="color:white;;font-family: 'Tahoma', sans-serif">
                    <i style="color:white" class="fas fa-print mr-3"></i> 80173886000</p>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Footer links -->

        <hr>

        <!-- Grid row -->
        <div class="row d-flex align-items-center">

            <!-- Grid column -->
            <div class="col-md-7 col-lg-8">

                <!--Copyright-->
                <p style="color:white; position:relative" class="text-center text-md-left">© 2018 Copyright:
                    <a style="color:white" href="https://mdbootstrap.com/education/bootstrap/">
                        <a style="color:white;font-family: 'Tahoma', sans-serif">GEEKS.COM</a>
                    </a>
                </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-5 col-lg-4 ml-lg-0">

                <!-- Social buttons -->
                <div class="text-center text-md-right">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a style="color:white" href="" class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a style="color:white" href="" class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="" style="color:white" class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fab fa-google-plus-g"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a style="color:white" href="" class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

</footer>